In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

In [3]:
spark = SparkSession.builder \
    .appName("lab1") \
    .getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [4]:
#Q1
numbers=[1,2,3,4,5]
rdd=spark.sparkContext.parallelize(numbers)

def square(x):
    return x*x

squared_rdd=rdd.map(square)
squared_numbers=squared_rdd.collect()

print("original numbers:",numbers)
print("squared numbers:",squared_numbers)

original numbers: [1, 2, 3, 4, 5]
squared numbers: [1, 4, 9, 16, 25]

In [5]:
#Q2
numbers=[1,2,3,4,5]
rdd=spark.sparkContext.parallelize(numbers)
max_value=rdd.max()
print(max_value)

5

In [6]:
#Q3Write a PySpark program to find average of N numbers.
# Create a DataFrame with a set of numbers 
numbers = [(10,), (20,), (30,), (40,), (50,)]
df = spark.createDataFrame(numbers, ["number"])

# Compute the average
average_df = df.select(avg("number")).collect()[0][0]

# Print the results
print("Original numbers:", [10, 20, 30, 40, 50])
print("Average value:", average_df)

Original numbers: [10, 20, 30, 40, 50]
Average value: 30.0

In [7]:
#Q4Demonstrate how to read a CSV file into a PySpark DataFrame.
csv_file_path="./data/data.csv"
df=spark.read.csv(csv_file_path,header=True,inferSchema=True)

In [8]:
#Q5Use PySpark commands to display the first few rows and schema of a DataFrame.
df.show()
df.printSchema()

+---+---------------+---+------------+
| id|           name|age|        city|
+---+---------------+---+------------+
|  1|       John Doe| 29|    New York|
|  2|     Jane Smith| 34| Los Angeles|
|  3|    Emily Davis| 22|     Chicago|
|  4|  Michael Brown| 40|     Houston|
|  5|Jessica Johnson| 27|Philadelphia|
+---+---------------+---+------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)

In [9]:
#Q6 : Calculate basic summary statistics for a specific column in the DataFrame
df.describe().show()

+-------+------------------+-------------+-----------------+------------+
|summary|                id|         name|              age|        city|
+-------+------------------+-------------+-----------------+------------+
|  count|                 5|            5|                5|           5|
|   mean|               3.0|         null|             30.4|        null|
| stddev|1.5811388300841898|         null|6.877499545619759|        null|
|    min|                 1|  Emily Davis|               22|     Chicago|
|    max|                 5|Michael Brown|               40|Philadelphia|
+-------+------------------+-------------+-----------------+------------+